/*--------------------------------------------------------------
5.0 Header
--------------------------------------------------------------*/
@media (min-width: $screen-md) {

	body.boxed.is-sticky-nav .header-wide .navigation.is-sticky {

		@media (min-width: $screen-md) {
			width: 1050px;
			overflow-x: hidden;
		}

		@media (min-width: $screen-lg) {
			width: 1250px;
		}
	}
}

@media (min-width: $screen-md) {

	.sticky-offset {
		display: none;
	}

	.header {
		position: relative;
		background-color: #3a3a3a;

		&.header-wide {

			.header-logo {
				padding-left: 0;
			}

			.main-navigation {
				position: relative;
				float: right;
				padding-right: 0;

				&::after {
					position: absolute;
					content: "";
					top: 0;
					right: -100%;
					width: 100%;
					min-height: 90px;
					background-color: $primary-color;
				}
			}
		}
	}

	// Header No Topbar on Default Navigation
	body.no-topbar {

		.header-default {

			.navigation {
				position: absolute;
				width: ($container-md - 30px);
				top: 30px;

				@media(min-width: $screen-lg) {
					width: ($container-lg - 30px);
				}
			}
		}
	}

	body.is-sticky-nav {

		// Sticky Navigation on Default Navigation
		.header-default {

			.sticky-offset {
				height: 45px;
				display: block;
			}

			.navigation {
				position: fixed;
				top: 0;

				&.is-sticky {
					width: ($container-md - 30px);

					@media(min-width: $screen-lg) {
						width: ($container-lg - 30px);
					}
				}
			}
		}

		// Sticky Navigation with No Topbar
		&.no-topbar {

			.header-default {

				.sticky-offset {
					display: none;
				}
			}
		}

		// Sticky Navigation on Wide Navigation
		.header-wide {

			.navigation {
				position: fixed;
				top: 0;
			}

			+ .sticky-offset {
				height: 45px;
				display: block;
			}
		}

		// If WP admin bar is visible
		&.admin-bar {

			.navigation {
				top: 32px;
			}
		}
	}
}